.header-area {
    background-color: #fff;
}

.section-heading h2 {
    text-transform: inherit;
}

.section-heading h2 span {
    text-transform: inherit;
}

.main-banner .item .down-buttons .call-button i {
     background: rgb(194 153 70);
     background: linear-gradient(        105deg        , rgb(220 181 97) 0%, rgb(255 202 93) 100%);
}

.our-services { 
     padding-top:  0px;  
}

.footer-dec { 
    margin-top: 70px;
}